* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  background: #121212;
}

#app {
  width: 100%;
}

#messages {
  width: 100%;
  height: calc(100vh - 36px);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}

#messages p {
  margin: 10px 0;
}

#input-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #88888830;
}

input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  background: #121212;
  color: #fafafa;
}

button {
  padding: 10px;
  border: none;
  outline: none;
  background: #121212;
  color: #fafafa;
  cursor: pointer;
}
